<ion-header>
	<ion-navbar>
		<ion-title>Quiz</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides>
		<ion-slide class="soal" *ngFor=" let item of kuis | async">
			<ion-row >
				<ion-col class="quiz-cont" padding>
					<p>{{ item.payload.val().soal }}</p>
					<p class="nomer-quiz" text-right>1<span>/</span>20</p>
				</ion-col>
			</ion-row>
			<ion-row >
				<ion-col class="jawaban-quiz-cont" padding>
					<ion-list radio-group>
						<ion-item>
							<ion-label>
								{{ item.payload.val().opsi.a.value }}
							</ion-label>
							<ion-radio class="radio" ng-model="choice" ng-value="'A'">
								<div class="radio-icon">
									<div class="radio-inner">
										A
									</div>
								</div>
							</ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>
								{{ item.payload.val().opsi.b.value }}
							</ion-label>
							<ion-radio class="radio" ng-model="choice" ng-value="'B'">
								<div class="radio-icon">
									<div class="radio-inner">
										B
									</div>
								</div>
							</ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>
								{{ item.payload.val().opsi.c.value }}
							</ion-label>
							<ion-radio class="radio" ng-model="choice" ng-value="'C'">
								<div class="radio-icon">
									<div class="radio-inner">
										C
									</div>
								</div>
							</ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>
								{{ item.payload.val().opsi.d.value }}
							</ion-label>
							<ion-radio class="radio" ng-model="choice" ng-value="'D'">
								<div class="radio-icon">
									<div class="radio-inner">
										D
									</div>
								</div>
							</ion-radio>
						</ion-item>
					</ion-list>

					<button class="Back-btn" ion-button color="primary" round (click)="prevSlide()">Back</button>
					<button class="next-btn" ion-button color="primary" round (click)="nextSlide()">Next</button>
				</ion-col>
			</ion-row>
		</ion-slide>
	</ion-slides>
</ion-content>