page-quiz{

	.content {

		.scroll-content{
			background : #e4e4e4;
		}

		ion-slides {

			height: auto;
			overflow-y: auto;

			ion-slide {
				.quiz-cont {
					margin-bottom: 2px;
					background: white;

					.nomer-quiz{
						font-weight: bold;
					}
				}

				.jawaban-quiz-cont {
					margin-top: 2px;
					background: white;

					.radio { 
						.radio-icon {
		  					visibility: visible !important;
		  					width: 40px !important;
			  				height: 40px !important;
		  					overflow: hidden !important;

		  					.radio-inner {
		  						z-index: 1;
		  						left: 0;
		  						right: 0;
		  						width: 40px;
		  						height: 40px;
		  					}
						}

						.radio-icon:after {
							z-index: 2;
							position: relative;
							font-size: 1.5em !important;
			  				left: 10px !important;
			  				top: 4px !important;
			  				background-color: transparent !important;
			  				overflow: hidden !important;
						}	

						.radio-checked{
							border-color: color($colors, primary);
							background-color: color($colors, primary);

							.radio-inner {
								display: none;
							}
						}

						.radio-checked:before {
							content: "" !important;
						}

						.radio-checked:after{	
		  					color: white;
		  				}


					
						// .item-content {
		  		// 			background-color: transparent;
		  		// 			margin: 0;
		  		// 			padding-right: 50px;
		  		// 			padding-left: 0px;
						// }

					}

					.radio-a {
						.radio-icon:after {
							content: "A";
						}
					}

					.radio-b {
						.radio-icon:after {
							content: "B";
						}
					}					

					.radio-c {
						.radio-icon:after {
							content: "C";
						}
					}

					.radio-d {
						.radio-icon:after {
							content: "D";
						}
					}

					.back-btn {
						float: left;
					}

					.next-btn {
						float: right;
					}
				}
			}
		}
	}

}