page-materi {
	ion-slides {
		
		height: auto;
		overflow-y: auto; 
		
		ion-slide{
			p{
				text-align: justify;
			}
		}
	}

	[id*="-btn"] {
		transition: all 0.2s ease
	}

	.footer-md::before {
		background-image: none;
	}

	ion-footer {

		height: 15vh;
		background: white;

		ion-fab[bottom]{
			bottom: 18px;
		}

		#back-btn {
			display: none;
		}

		#halaman {
			margin: 0 auto;
			font-size: 2em;
		}
	}
}
