	ion-header{
		ion-navbar{
			ion-title{
				font-style: italic;
			}
		}
	}

.card-menu
	{
		background: linear-gradient(to right,  #f77074, #fa9369);
		border-radius: 20px;
		color: white;
		padding: 20px;
		
		ion-card-header
		{
			color: white;
			font-size: 30px;
			font-weight: bold;
		}

		ion-card-content
		{
			font-size: 20px;
		}
	}

page-home {
	.judulBab:first-letter {
		text-transform: uppercase;
	}
}
