// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

	.tabbar {
		border-radius: 0 0 10px 10px;
	}

	ion-header{

		.toolbar {
			border-radius: 10px 10px 0 0;
			color: white;

			button {
				color: white;
			}
		}

		.toolbar-wp {
			button {
				color: default;
			}
		}

		.toolbar-background {
			background: linear-gradient(120deg,  $header-first-color 0%, $header-last-color 100%);
		}

		ion-navbar{	
			ion-title{
				text-align: center;
			}
		}
	}

	.content{
		
		background: linear-gradient(to bottom,  black 0vh, black 4vh, white 5vh, white 95vh, black 96vh, black 100vh);

		.scroll-content {
			background: #fff;
		}
	}